<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FH Admin</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="FH Admin QQ313596790" />

    <link rel="icon" href="../../../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../assets/fonts/material/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../../assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    
    <!-- vue -->
	<script src="../../../assets/js-vue/vue.js"></script>
    <!--全局配置-->
    <script src="../../../assets/js-v/config.js"></script>

</head>

<body style="background-color: white">
    
    <!-- [加载状态 ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ 加载状态  ] End -->

	    <!-- [ Hover-table ] start -->
        <div id="app">
            <div>
	
				<div class="card-block table-border-style" style="margin-top: -1px">
    				<div class="table-responsive">
						<table class="table table-hover mb-0">	
							<thead>
								<tr>
									<th style="width: 50px;" id="cts">
			                            <div class="checkbox d-inline">
                                            <input type="checkbox" name="fhcheckbox" id="zcheckbox">
                                            <label  style="max-height: 12px;" for="zcheckbox" class="cr"></label>
                                        </div>
									</th>
									<th style="width:50px;">NO</th>
									<th>大题题目</th>
									<th>本题题型</th>
									<th>每题分数</th>
									<th>题数/总分</th>
									<th>题序</th>
									<th>操作</th>
								</tr>
							</thead>
													
							<tbody>
								<!-- 开始循环 -->	
								<template v-for="(data,index) in varList">
									<tr>
										<td>
                                        	<div class="checkbox d-inline">
                                            	<input type="checkbox" v-bind:id="'zcheckbox'+index" name='ids' v-bind:value="data.TESTPAPERMX_ID">
                                            	<label  style="max-height: 12px;" v-bind:for="'zcheckbox'+index" class="cr"></label>
                                        	</div>
										</td>
										<td scope="row">{{page.showCount*(page.currentPage-1)+index+1}}</td>
										<td>{{(data.TITLE).substring(0,10)}}...</td>
										<td>
											{{data.TYPE == 'A'?'单选题':''}}
											{{data.TYPE == 'B'?'多选题':''}}
											{{data.TYPE == 'C'?'判断题':''}}
											{{data.TYPE == 'D'?'填空题':''}}
											{{data.TYPE == 'E'?'问答题':''}}
											{{data.TYPE == 'F'?'复合题':''}}
										</td>
										<td>{{data.FRACTION}} 分</td>
										<td>{{data.TOTALSCORE}}</td>
										<td>{{data.FORDER}}</td>
										<td>
											<a title="查看题目" v-on:click="viewQue(data.TYPE,data.SELECTEDTOPICS)" style="cursor:pointer;"><i class="feather icon-search"></i></a>
											<a title="修改" v-on:click="goEdit(data.TESTPAPERMX_ID)" style="cursor:pointer;"><i class="feather icon-edit-2"></i></a>
							                <a title="删除" v-on:click="goDel(data.TESTPAPERMX_ID)" style="cursor:pointer;"><i class="feather icon-x"></i></a>
										</td>
									</tr>
								</template>
								<tr v-show="varList.length==0">
									<td colspan="10">没有相关数据</td>
								</tr>
							</tbody>
						</table>
						
						<table style="width:100%;margin-top:15px;">
							<tr>
								<td style="vertical-align:top;">
									<a class="btn btn-light btn-sm" v-on:click="goAdd">添加题目</a>
									<a class="btn btn-light btn-sm" v-on:click="makeAll('确定要删除选中的数据吗?')">删除题目</a>
								</td>
								<td style="vertical-align:top;"><div style="float: right;padding-top: 0px;margin-top: 0px;" v-html="page.pageStr"></div></td>
							</tr>
						</table>
					</div>
				</div>	

            </div>
        </div>
        <!-- [ Hover-table ] end -->
    
<script type="text/javascript" src="../../../assets/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="../../../assets/js/pre-loader.js"></script>
<script src="../../../assets/plugins/sweetalert/js/sweetalert.min.js"></script>
<!-- 表单验证提示 -->
<script src="../../../assets/js/jquery.tips.js"></script>

<!-- 本页面js --> 
<script type="text/javascript" src="../../../assets/js-v/exam/testpapermx_list.js"></script>

</body>
</html>