<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>NUCC</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="NUCCombat Copyright" />

    <link rel="icon" href="../../../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../assets/fonts/material/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../../assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/modal-window-effects/css/md-modal.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    
    <!-- select插件 -->
    <link rel="stylesheet" href="../../../assets/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/multi-select/css/multi-select.css">

    <!-- vue -->
	<script src="../../../assets/js-vue/vue.js"></script>
    <!--全局配置-->
    <script src="../../../assets/js-v/config.js"></script>

</head>

<body>
    
    <!-- [加载状态 ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ 加载状态  ] End -->

    <!-- [ 主内容区 ] start -->
        <div class="pcoded-wrapper" id="app">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">

							    <!-- [ Hover-table ] start -->
                                <div class="col-xl-12">
                                    <div class="card">
							
									<!-- 检索  -->
									<div style="padding-left: 20px;padding-top: 15px;">
									<table style="margin-top:5px;">
										<tr>
											<td>
						                        <div class="input-group input-group-sm mb-3">
                                                	<input class="form-control" type="text" v-model="KEYWORDS" placeholder="这里输入关键词" />
                                            	</div>
											</td>
											<td v-show="msg != 'admin'" style="vertical-align:top;padding-left:2px;">
					                        	<select style="height: 30px;width:66px;padding-left:6px;border: 1px solid #CED4DA;transparent;appearance:none;-moz-appearance:none;-webkit-appearance:none;" v-model="PASSONOT" data-placeholder="是否及格">
					                        		<option value="">及格否</option>
					                        		<option value="yes">已及格</option>
					                        		<option value="no">不及格</option>
					                        	</select>
											</td>
											<td v-show="msg == ''" style="vertical-align:top;padding-left:2px;">
					                        	<select style="height: 30px;width:56px;padding-left:6px;border: 1px solid #CED4DA;transparent;appearance:none;-moz-appearance:none;-webkit-appearance:none;" v-model="STATE" data-placeholder="状态">
					                        		<option value="">状态</option>
					                        		<option value="out">已完成</option>
					                        		<option value="notout">待评阅</option>
					                        	</select>
											</td>
											<td v-show="fromlocal && msg != ''" style="vertical-align:top;padding-left:2px;width: 300px;">
						                        <select class="js-example-placeholder-multiple col-sm-12" id="TESTPAPER_ID" data-placeholder="要查询的试卷"></select>
											</td>
											<td style="vertical-align:top;padding-left:5px;">
												<a class="btn btn-light btn-sm" v-on:click="getList" style="width: 23px;height:30px;margin-top:1px;" title="检索"><i style="margin-top:-3px;margin-left: -6px;"  class="feather icon-search"></i></a>
												<a v-show="toExcel && msg != '' && fromlocal" class="btn btn-light btn-sm" v-on:click="goExcel" style="width: 23px;height:30px;margin-top:1px;margin-left: -9px;" title="导出到excel表格">
													<i style="margin-top:-3px;margin-left: -6px;" class="mdi mdi-cloud-download"></i>
												</a>
											</td>
											<td v-show="loading">
												<!-- [加载状态 ] start -->
										    	<div class="d-flex justify-content-center" style="margin-top:-10px;">
		                                            <div class="spinner-grow spinner-grow-sm" role="status">
		                                                <span class="sr-only">Loading...</span>
		                                            </div>
		                                        </div>
										    	<!-- [ 加载状态  ] End -->
											</td>
										</tr>
									</table>
									</div>
									<!-- 检索  -->
									<div class="card-block table-border-style" style="margin-top: -15px">
                                    	<div class="table-responsive">
                                        	<table class="table table-hover">
												<thead>
													<tr>
														<th style="width:50px;">NO</th>
														<th v-show="fromlocal">试卷名称</th>
														<th>考生姓名</th>
														<th><a v-on:click="forder='down';getList();" style="cursor:pointer;"><i class="feather icon-arrow-down"></i></a>得分<a v-on:click="forder='up';getList();" style="cursor:pointer;"><i class="feather icon-arrow-up"></i></a></th>
														<th>总分</th>
														<th>及格线</th>
														<th>是否及格</th>
														<th>答对</th>
														<th>答错</th>
														<th>未评</th>
														<th>总题数</th>
														<th>状态</th>
														<th>时间</th>
														<th v-show="fromlocal">操作</th>
													</tr>
												</thead>
																		
												<tbody>
													<!-- 开始循环 -->	
													<template v-for="(data,index) in varList">
														<tr>
															<td scope="row">{{page.showCount*(page.currentPage-1)+index+1}}</td>
															<td v-show="fromlocal">{{(data.TITLE).substring(0,20)}}...</td>
															<td>
																{{data.NAME}}
																<a v-show="fromlocal" title="查看用户" v-on:click="viewUser(data.USERNAME)" style="cursor:pointer;"><i class="feather icon-search"></i></a>															
															</td>
															<td>{{data.SCORE}}</td>
															<td>{{data.TOTALSCORE}}</td>
															<td>{{data.PASSINGSCORE}}</td>
															<td>
																<template v-if="data.PASSONOT == 'yes'">
																	<span class="badge badge-success">及格</span>
																</template>
																<template v-if="data.PASSONOT == 'no'">
																	<span class="badge badge-danger">不及格</span>
																</template>
																<template v-if="data.PASSONOT == '未出'">
																	未出
																</template>
															</td>
															<td>{{data.CORRECT}}</td>
															<td>{{data.ERROR}}</td>
															<td>{{data.QTOTAL - data.ERROR - data.CORRECT}}</td>
															<td>{{data.QTOTAL}}</td>
															<td>
																<template v-if="data.STATE == 'out'">
																	<span class="badge badge-success">已完成</span>
																</template>
																<template v-if="data.STATE == 'notout'">
																	<span class="badge badge-danger">待评阅</span>
																</template>
															</td>
															<td>{{data.CTIME}}</td>
															<td v-show="fromlocal">
																<template v-if="msg == 'admin'">
																<a title="评阅" v-on:click="correct(data.TESTPAPER_ID,data.EXAMINATIONRECORD_ID,data.PASSONOT,data.SCORE,data.PASSINGSCORE,data.ACHIEVEMENT_ID)" style="height:23px;" class="btn btn-light btn-sm"><div style="margin-top:-5px;margin-left: -5px;"><i class="feather icon-feather"></i>&nbsp;评阅</div></a>
							                 					</template>
																<template v-if="data.STATE == 'out'">
																<a title="查看" v-on:click="view(data.TESTPAPER_ID,data.EXAMINATIONRECORD_ID,data.PASSONOT,data.SCORE)" style="height:23px;" class="btn btn-light btn-sm"><div style="margin-top:-5px;margin-left: -5px;"><i class="feather icon-search"></i>查看</div></a>
																<a title="排名" v-on:click="ranking(data.TESTPAPER_ID,data.USERNAME,data.PASSINGSCORE)" style="height:23px;" class="btn btn-light btn-sm"><div style="margin-top:-5px;margin-left: -5px;"><i class="feather icon-search"></i>排名</div></a>
							                 					</template>
							                 					<a v-show="del" title="删除" v-on:click="goDel(data.ACHIEVEMENT_ID,data.EXAMINATIONRECORD_ID)" style="cursor:pointer;"><i class="feather icon-x"></i></a>
															</td>
														</tr>
													</template>
													<tr v-show="varList.length==0">
														<td colspan="10">没有相关数据</td>
													</tr>
												</tbody>
											</table>
											<table style="width:100%;margin-top:15px;">
												<tr>
													<td style="vertical-align:top;">
													<button id="viewRanking" data-modal="modal-16" style="margin-left: 10px;display: none;" type="button" class="btn btn-secondary btn-sm md-trigger"></button>
													</td>
													<td style="vertical-align:top;"><div style="float: right;padding-top: 0px;margin-top: 0px;" v-html="page.pageStr"></div></td>
												</tr>
											</table>
										</div>
                                    </div>
			
                                    </div>
                                </div>
                                <!-- [ Hover-table ] end -->

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        <!-- 查看排名窗口 start -->
		<div class="md-modal md-effect-16" id="modal-16" style="width: 300px;">
		    <div class="md-content">
		        <h3 class="theme-bg2">排名</h3>
		        <div style="overflow: scroll; scrolling: yes;height:500px;">
		        <h6 style="width: 100%;text-align: center;">共<b>{{rankingList.length}}</b>人&nbsp;&nbsp;及格<b> {{PASSNUM}}</b>人&nbsp;&nbsp;不及格 <b>{{rankingList.length - PASSNUM}}</b>人</h6>
		            <ul style="list-style-type:none;">
	            	<template v-for="(data,index) in rankingList">
	            		<template v-if="data.SCORE >= PASSINGSCORE"><span style="display: none;">{{PASSNUM = index+1}}</span></template>
		                <li>
		                	<table  style="padding-top: 15px;">
		                	<tr>
			                	<template v-if="USERNAME == data.USERNAME">
			                	<td style="width: 50px;color: red;">{{index+1}}</td>
			                	<td style="width: 100px;float: left;color: red;">{{data.NAME}}</td>
			                	<td style="width: 79px;color: red;">{{data.SCORE}}分&nbsp;<i class="feather icon-award"></i></td>
			                	</template>
			                	<template v-if="USERNAME != data.USERNAME">
			                	<td style="width: 50px;">{{index+1}}</td>
			                	<td style="width: 100px;float: left;">{{data.NAME}}</td>
			                	<td style="width: 79px;">{{data.SCORE}}分</td>
			                	</template>
		                	<tr>
		                	</table>
		                </li>
	                </template>
		            </ul>
		            <button class="btn btn-primary md-close">关闭</button>
		        </div>
		    </div>
		</div>
		<div class="md-overlay"></div>
        <!-- 查看排名窗口 end -->
            
        </div>
    <!-- [ 主内容区 ] end -->
    
<script type="text/javascript" src="../../../assets/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="../../../assets/js/pre-loader.js"></script>
<script src="../../../assets/plugins/sweetalert/js/sweetalert.min.js"></script>
<script type="text/javascript" src="../../../assets/plugins/modal-window-effects/js/classie.js"></script>

<!-- select插件 -->
<script src="../../../assets/plugins/select2/js/select2.full.min.js"></script>
<script src="../../../assets/plugins/multi-select/js/jquery.quicksearch.js"></script>
<script src="../../../assets/plugins/multi-select/js/jquery.multi-select.js"></script>
<script src="../../../assets/js/pages/form-select-custom.js"></script>

<!-- 表单验证提示 -->
<script src="../../../assets/js/jquery.tips.js"></script>

<!-- 本页面js --> 
<script type="text/javascript" src="../../../assets/js-v/exam/achievement_list.js"></script>

</body>
</html>