<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FH Admin</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="FH Admin QQ313596790" />

    <link rel="icon" href="../../../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    
    <!-- select插件 -->
    <link rel="stylesheet" href="../../../assets/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/multi-select/css/multi-select.css">
    
    <!-- vue -->
	<script src="../../../assets/js-vue/vue.js"></script>
    <!--全局配置-->
    <script src="../../../assets/js-v/config.js"></script>
    
    <style type="text/css">
	.costs-marl15{margin-left: 15px;}
		div.costs-uploadfile-div{
		    position:relative;
		    cursor:pointer;
		    margin-left: 1px;
		}
		div.costs-uploadfile-div #textfield{
		    width:468px;
		    height:30px;
		    cursor:pointer;
		}
		div.costs-uploadfile-div #FFILE{
		    width:468px;
		    height:30px;    
		    position: absolute;
		    top: 0;
		    left:0;
		    filter: alpha(opacity:0);
		    opacity: 0;
		    cursor:pointer;
		}
	</style>

</head>

<body style="background-color: white">
    
    <!-- [加载状态 ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ 加载状态  ] End -->

    <!-- [ 主内容区 ] start -->
        <div class="pcoded-wrapper" id="app">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
					
								<div style="width: 100%;">
									<div id="showform">
										<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">授权对象</span></span>
		                                    </div>
		                                    <select class="js-example-basic-multiple col-sm-12" multiple="multiple" id="AUTHORIZED" style="max-width: 619px;" data-placeholder="（非必录）这里选择授权对象(选填，不选的话默认全部可以观看PDF文件)">
                                            <option value=""></option>
											<template v-for="data in roleList">
												<template v-if="'1' == data.rights">
												<option v-bind:value="data.role_ID" selected>{{data.role_NAME}}</option>
												</template>
												<template v-else>
												<option v-bind:value="data.role_ID">{{data.role_NAME}}</option>
												</template>
											</template>
                                        	</select>
		                                </div>
										<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">标题</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="TITE" id="TITE" v-model="pd.TITE" maxlength="100" placeholder="这里输入标题" title="标题">
		                                </div>
							            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">科目</span></span>
		                                    </div>
		                                    <select ref="SUBJECT" id="SUBJECT" v-model="SUBJECT"  title="科目" data-placeholder="科目" style="width:619px;padding-left:10px;border: 1px solid #CED4DA;transparent;appearance:none;-moz-appearance:none;-webkit-appearance:none;"></select>
		                                </div>
							            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">课时</span></span>
		                                    </div>
		                                    <select ref="CLASSHOUR" id="CLASSHOUR" v-model="CLASSHOUR"  title="课时" data-placeholder="课时" style="width:619px;padding-left:10px;border: 1px solid #CED4DA;transparent;appearance:none;-moz-appearance:none;-webkit-appearance:none;"></select>
		                                </div>
		                                <div v-show="msg == 'add'" class="input-group input-group-sm mb-3" style="margin-top: -10px;background-color: white;">
								                <div class="input-group-prepend">
			                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">选择PDF</span></span>
			                                    </div>
							                    <div class="costs-uploadfile-div">   
												    <input type="file" id="FFILE" onchange="setFile(this)" /> 
												    <input type='text' id="textfield" class="btn btn-light btn--icon-text" value="请选择PDF" /> 
												</div>
								        </div>
							            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">备注说明</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="REMARKS" id="REMARKS" v-model="pd.REMARKS" maxlength="500" placeholder="这里输入备注说明" title="备注说明">
		                                </div>
							            <div class="input-group" style="margin-top:10px;background-color: white" >
							            	<span style="width: 100%;text-align: center;">
							            		<a class="btn btn-light btn-sm" v-on:click="save">保存</a>
							            		<a class="btn btn-light btn-sm" onclick="top.Dialog.close()">取消</a>
							            	</span>
							            </div>
							       </div>
						          		<!-- [加载状态 ] start -->
									    <div id="jiazai" style="display:none;margin-top:50px;">
									    	<div style="text-align: center;"><br/><h4>正在上传,请稍后...</h4></div>
									    	<div class="d-flex justify-content-center">
	                                            <img id="fok" src="../../../assets/images/upload.gif">
	                                        </div>
	                                    </div>
									    <!-- [ 加载状态  ] End -->
								</div>
	    
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ 主内容区 ] end -->
    
<script type="text/javascript" src="../../../assets/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="../../../assets/js/pre-loader.js"></script>
<script src="../../../assets/plugins/sweetalert/js/sweetalert.min.js"></script>

<!-- select插件 -->
<script src="../../../assets/plugins/select2/js/select2.full.min.js"></script>
<script src="../../../assets/plugins/multi-select/js/jquery.quicksearch.js"></script>
<script src="../../../assets/plugins/multi-select/js/jquery.multi-select.js"></script>
<script src="../../../assets/js/pages/form-select-custom.js"></script>

<!-- 表单验证提示 -->
<script src="../../../assets/js/jquery.tips.js"></script>

<!-- 本页面js -->
<script type="text/javascript" src="../../../assets/js-v/course/pdf_edit.js"></script>

</body>
</html>